{% extends 'base.html.twig' %}

{% block body %}
<h1>Activez votre compte</h1>
<p>Bonjour {{ firstname }},</p>
<p>Votre inscription sur le site sposirte.fr est à valider en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">{{ absolute_url(path('verify_user', {token: token})) }}</a></p>
<p>Ce lien expirera dans 10 minutes</p>
{% endblock %}